<% verbose ||= false %>
<% ratings = topic.ratings %>
<div class="ratings">
  <% if verbose && ratings[:like] > 0 %>
  <span class="green-text text-lighten-1 left"><span class="glyphicon glyphicon-thumbs-up"></span> <%= ratings[:like] %></span>
  <% end %>
  <% if verbose && ratings[:dislike] > 0 %>
  <span class="red-text text-lighten-1 right"><span class="glyphicon glyphicon-thumbs-down"></span> <%= ratings[:dislike] %></span>
  <% end %>
  <div class="ratings progress">
    <div class="determinate light-green lighten-1" style="width: <%= ratings[:like] * 100.0 / (ratings[:total].zero? ? 1 : ratings[:total]) %>%">
    </div>
  </div>
</div>
<%= reports_to_count(topic) %>
