<div id="cq-timer">
  <canvas id="cq-timer-canvas"></canvas>
  <div id="cq-timer-seconds-wrap">
    <div id="cq-timer-seconds">
      <span class="glyphicon glyphicon-play"></span>
    </div>
  </div>
</div>
