<table class="topic-table table table-striped">
  <thead class="row">
    <tr>
      <th>
        <div class="col-sm-6 col-xs-12">Title</div>
        <div class="col-sm-2 col-xs-12">Tags</div>
        <div class="col-sm-2 col-xs-12">Ratings</div>
        <div class="col-sm-2 col-xs-12">Created at</div>
      </th>
    </tr>
  </thead>
  <tbody class="row">
    <%= render @topics %>
  </tbody>
</table>
