<table class="topic-table bordered highlight">
  <thead class="row">
    <tr>
      <th>
        <div class="col m6 s12">Title</div>
        <div class="col m2 s12">Tags</div>
        <div class="col m2 s12">Ratings</div>
        <div class="col m2 s12">Created at</div>
      </th>
    </tr>
  </thead>
  <tbody class="row">
    <%= render @topics %>
  </tbody>
</table>
