<% if !user_signed_in? %>
<div class="jumbotron">
  <div class="row">
    <div class="col-md-4">
      <div class="logo">
        <img src="/images/logo.svg" alt="logo">
      </div>
    </div>
    <div class="col-md-8">
      <h2>Find, get, post conversation questions on ConvQ.</h2>
      <p>Conversation questions on this website will help you make progress in English speaking.</p>
      <ul>
        <li><p><span class="cq-brown h3">Prepare</span> for speaking for <span class="cq-brown h3">15</span> seconds.</p></li>
        <li><p><span class="cq-green h3">Speak</span> about your ideas on topics for <span class="cq-green h3">45</span> seconds.</p></li>
      </ul>
      <div class="pull-right">
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-default btn-lg" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="page-header">
  <h2>Random Topic</h2>
</div>

<%= render partial: "topics/topic_show", locals: { topic: @topic, next_topic: @next_topic } %>
