<% if !user_signed_in? %>
<div class="jumbotron card grey lighten-4">
  <div class="card-content">
    <div class="row">
      <div class="col m4 s12">
        <div class="logo">
          <img src="/images/logo.svg" alt="logo">
        </div>
      </div>
      <div class="col m8 s12">
        <h2>Find, get, post conversation questions on ConvQ.</h2>
        <p class="flow-text">Conversation questions on this website will help you make progress in English speaking.</p>
        <ul>
          <li><p class="flow-text"><span class="cq-brown h3">Prepare</span> for speaking for <span class="cq-brown h3">15</span> seconds.</p></li>
          <li><p class="flow-text"><span class="cq-green h3">Speak</span> about your ideas on topics for <span class="cq-green h3">45</span> seconds.</p></li>
        </ul>
        <div class="pull-right">
          <%= link_to "Sign In", new_user_session_path, class: "waves-effect waves-light btn-large" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "waves-effect waves-light btn-large light-green lighten-1" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="page-header">
  <h2>Random Topic</h2>
</div>

<%= render partial: "topics/topic_show", locals: { topic: @topic, next_topic: @next_topic } %>
<%= render partial: "topics/topic_timer", locals: { topic: @topic, next_topic: @next_topic } %>
