/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_tree .
 *= require_self
 */


/* **************************************************
 * common
 * ************************************************** */

.cq-green {
  color: #A1CC3A;
}
.cq-brown {
  color: #646262;
}

.raito-fix {
  position: relative;
}
.raito-fix:after {
  padding-top: 100%;
  display: block;
  content: "";
}
.raito-fix > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* **************************************************
 * layout
 * ************************************************** */

.navbar-brand > img {
  margin: -0.5em;
  height: 2em;
}

.navbar .conv_q {
  height: 1em;
}

.jumbotron .logo > img {
  width: 100%;
  padding: 10px;
}

/* **************************************************
 * topic
 * ************************************************** */

.topic .title {
  font-size: 24px;
}
.topic .tags {
  font-size: 16px;
}
.topic .tags > .label {
  margin-right: 5px;
}

/* **************************************************
 * timer
 * ************************************************** */

#cq-timer {
  margin: 20px;
}
#cq-timer-canvas, #cq-timer-seconds-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#cq-timer-seconds {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 1em;
  line-height: 1em;
  text-align: center;
  font-size: 64px;
  color: #646262;
}
#cq-timer-seconds > span {
  margin: -5px 0 0 5px;
}

/* **************************************************
 * footer
 * ************************************************** */

footer {
  margin-top: 20px;
}

.footer-text {
  width: 100%;
}
