/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.tagit
 *= require tagit.ui-zendesk
 *= require material_icons
 *= require_tree .
 *= require_self
 */


/* **************************************************
 * common
 * ************************************************** */

.cq-green {
  color: #A1CC3A;
}
.cq-brown {
  color: #646262;
}

.raito-fix {
  position: relative;
}
.raito-fix:after {
  padding-top: 100%;
  display: block;
  content: "";
}
.raito-fix > * {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ui-helper-hidden-accessible {
  display: none;
}

.clickable {
  cursor: pointer;
}


/* **************************************************
 * layout
 * ************************************************** */

.brand-logo > img {
  margin: 8px;
  height: 48px;
}

.conv_q_image {
  height: 1em;
}

#sidenav-overlay {
  z-index: 996;
}

.jumbotron .logo > img {
  width: 100%;
  padding: 10px;
}

/* **************************************************
 * topic
 * ************************************************** */

.topic .title {
  font-size: 21px;
}
.topic .tags {
  font-size: 16px;
}
.topic-tag.label {
  display: inline-block;
  margin-right: 5px;
  white-space: normal;
}
.topic-table > thead > tr > th,
.topic-table > tbody > tr > th,
.topic-table > thead > tr > td,
.topic-table > tbody > tr > td {
  padding-left: 0px;
  padding-right: 0px;
}
.reports_count {
  margin-left: 0.5em;
}
.topic-title-link {
  margin-left: 0.5em;
}


/* **************************************************
 * user
 * ************************************************** */

.histories_count_split {
  font-size: 0.75em;
}


/* **************************************************
 * report
 * ************************************************** */

.actions .btn {
  margin-bottom: 0.5em;
}
.report .detail {
  font-size: inherit;
}


/* **************************************************
 * timer
 * ************************************************** */

#cq-timer-body {
  margin: 20px;
}
#cq-timer-canvas, #cq-timer-seconds-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#cq-timer-seconds {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 1em;
  line-height: 1em;
  text-align: center;
  font-size: 64px;
  color: #646262;
}
#cq-timer-seconds > i {
  /*margin: -5px 0 0 5px;*/
  font-size: 64px;
}
#cq-timer-done-like,
#cq-timer-done-dislike,
#cq-timer-done-submit {
}


/* **************************************************
 * footer
 * ************************************************** */


